<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Mongoose</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
            /* *{
                outline: 1px dotted red;
            } */
            textarea{
                vertical-align: top;
            }
            #btn{
                margin-left: 10px;
            }      
    </style>
</head>
<body class="container">
    <h1>Create New Mongoose</h1>
    <div class="wrapper">
        <form action="/create" method="POST">
            <label for="name">Name : </label>
            <input type="text" name="name">
            <br>
            <label for="sex">Sex : </label>
            <input type="radio" name="sex" value="male"> Male
            <input type="radio" name="sex" value="female"> Female
            <br>
            <label for="age">Age : </label>
            <input type="text" name="age">
            <br>
            <label for="nickname">Nickname : </label>
            <input type="text" name="nickname">
            <br>
            <br>
            <button>Create</button>
        </form>
    </div>
</body>
</html>