<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        
        <h1>Cuddie's information</h1>
        <a href="/img/cuddie"><img src="/img/cat-01.jpg" alt="cat-01"></a> 
        <hr>

        Name: Cuddie
        <br>
        Age: 3 weeks
        <br>
        Sex: female

    </div>
    <br>
    <br>
    <a href="/">Go back</a>
</body>
</html>