<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Wifi's information</h1>
        <a href="/img/wifi"><img src="/img/cat-02.jpg" alt="cat-02"></a>
        <hr>
        Name: Wifi
        <br>
        Age: 3 weeks
        <br>
        Sex: female

    </div>
    <br>
    <br>
    <a href="/">Go back</a>
</body>
</html>