<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    div{
        display: inline-block;
        vertical-align: top;
        margin: 10px;
    }
    </style>

</head>
<body>
    <h1>Login and Registration</h1>
    <% if(errors){ %>
        <%= errors %>
    <% } %>
        <br>
        <br>
    <div>
        <form action="/register" method="POST">
            <label for="">First Name</label>
            <input type="text" name="first_name">
            <br>
            <label for="">Last Name</label>
            <input type="text" name="last_name">
            <br>
            <label for="">Email</label>
            <input type="email" name="email">
            <br>
            <label for="birthday">Birthday</label>
            <input type="date" name="birthday">
            <br>
            <label for="">Password</label>
            <input type="password" name="password">
            <br>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password">
            <br>
            <br>
            <button>Register</button>
        </form>
    </div>
    <div>
        <form action="/login" method="POST">
            <label for="email">e-mail</label>
            <input type="email" name="email">
            <br>
            <label for="password">password</label>
            <input type="password" name="password">
            <br>
            <br>
            <button>Log In</button>
        </form>
    </div>
</body>
</html>