<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    
</head>
<body>
    <label for="first_name">First Name : </label>
    <input type="text" name="first_name" placeholder="First Name">
    <label for="last_name">Last Name : </label>
    <input type="text" name="last_name" placeholder="Last Name">
    <label for="email">e-mail : </label>
    <input type="email" name="email" placeholder="e-mail">
    <label for="password">Password : </label>
    <input type="password" name="password" placeholder="Password">
    <label for="confirm_password">Confirm Password : </label>
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <input type="submit" name="submit" class="btn">
</body>
</html>